DEBUG=False

# Email alert settings
SEND_EMAIL_ALERT=True
EMAIL_RECIPIENT=["foobar@test.com"]
EMAIL_SENDER=noreply@test.com
SMTP_HOST=mail.test.com
DATA_DIR_RELATIVE_PATH=/python/outdir/

# Uptime-kuma settings
USE_UPTIME_KUMA=True
UPTIME_KUMA_HOST=http://uptime-kuma.test.com
UPTIME_KUMA_API_KEY=foobarfoobarfoobar